.versus {
  padding-top: 40px;
}

.total-score {
  font-weight: bold;
}

.winner {
  font-size: 24px;
  font-weight: bolder;
}
.winner-name {
  font-size: 36px;
  color: goldenrod;
}
.winner-badge {
  font-size: 46px;
  color: goldenrod;
  background-color: gold;
  border-radius: 30px;
  padding: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color: lightgrey;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}
.footer {
  color: #efefef;
  background-color: #333;
}
.footer a {
  color: #9af7fe;
}
@media only screen and (max-width: 768px) {
  body { margin-bottom: 200px; }
  .footer { height: 200px; }
}

