<div class="container">
  <div class="row">
    <div class="col-md-4"><progressbar class="progress-striped" value="contestant.publicRepos" max="max(contestants, 'publicRepos')" type="{{atMax(contestant, 'publicRepos')}}">{{contestant.publicRepos}}</progressbar></div>
    <div class="col-md-4 text-center">Public repos (10 points)</div>
    <div class="col-md-4"><progressbar class="progress-striped" value="rival.publicRepos" max="max(contestants, 'publicRepos')" type="{{atMax(rival, 'publicRepos')}}">{{rival.publicRepos}}</progressbar></div>
  </div>
  <div class="row">
    <div class="col-md-4"><progressbar class="progress-striped" value="contestant.publicGists" max="max(contestants, 'publicGists')" type="{{atMax(contestant, 'publicGists')}}">{{contestant.publicGists}}</progressbar></div>
    <div class="col-md-4 text-center">Public Gists (3 points)</div>
    <div class="col-md-4"><progressbar class="progress-striped" value="rival.publicGists" max="max(contestants, 'publicGists')" type="{{atMax(rival, 'publicGists')}}">{{rival.publicGists}}</progressbar></div>
  </div>
  <div class="row">
    <div class="col-md-4"><progressbar class="progress-striped" value="contestant.followers" max="max(contestants, 'followers')" type="{{atMax(contestant, 'followers')}}">{{contestant.followers}}</progressbar></div>
    <div class="col-md-4 text-center">Number of Followers (2 points)</div>
    <div class="col-md-4"><progressbar class="progress-striped" value="rival.followers" max="max(contestants, 'followers')" type="{{atMax(rival, 'followers')}}">{{rival.followers}}</progressbar></div>
  </div>
  <div class="row">
    <div class="col-md-4"><progressbar class="progress-striped" value="contestant.following" max="max(contestants, 'following')" type="{{atMax(contestant, 'following')}}">{{contestant.following}}</progressbar></div>
    <div class="col-md-4 text-center">Number of people followed (1 points)</div>
    <div class="col-md-4"><progressbar class="progress-striped" value="rival.following" max="max(contestants, 'following')" type="{{atMax(rival, 'following')}}">{{rival.following}}</progressbar></div>
  </div>
  <div class="row">
    <div class="col-md-4"><progressbar class="progress-striped" value="contestant.score" max="max(contestants, 'score')" type="{{atMax(contestant, 'score')}}">{{contestant.score}}</progressbar></div>
    <div class="col-md-4 text-center">Total Score</div>
    <div class="col-md-4"><progressbar class="progress-striped" value="rival.score" max="max(contestants, 'score')" type="{{atMax(rival, 'score')}}">{{rival.score}}</progressbar></div>
  </div>
</div>
