<div class="container">
  <div class="jumbotron">
    <div class="row contestant-username">
      <div class="col-xs-4 text-center">
        <figure class="hidden-xs">
          <img ng-src="{{contestant.avatarUrl}}" height="100px" width="100px" alt="">
          <figcaption>{{contestant.username}}</figcaption>
        </figure>
        <span class="visible-xs-inline">{{contestant.username}}</span>
      </div>
      <div class="versus col-xs-4 text-center">vs</div>
      <div class="col-xs-4 text-center">
        <figure class="hidden-xs">
          <img ng-src="{{rival.avatarUrl}}" height="100px" width="100px" alt="">
          <figcaption>{{rival.username}}</figcaption>
        </figure>
        <span class="visible-xs-inline">{{rival.username}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="contestant.publicRepos" max="max(contestants, 'publicRepos')" type="{{atMax(contestant, 'publicRepos')}}">{{contestant.publicRepos}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(contestant, 'publicRepos')">{{contestant.publicRepos}}</span>
      </div>
      <div class="col-md-4 col-xs-8 text-center">Public repos (10 points)</div>
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="rival.publicRepos" max="max(contestants, 'publicRepos')" type="{{atMax(rival, 'publicRepos')}}">{{rival.publicRepos}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(rival, 'publicRepos')">{{rival.publicRepos}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="contestant.publicGists" max="max(contestants, 'publicGists')" type="{{atMax(contestant, 'publicGists')}}">{{contestant.publicGists}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(contestant, 'publicGists')">{{contestant.publicGists}}</span>
      </div>
      <div class="col-md-4 col-xs-8 text-center">Public Gists (3 points)</div>
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="rival.publicGists" max="max(contestants, 'publicGists')" type="{{atMax(rival, 'publicGists')}}">{{rival.publicGists}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(rival, 'publicGists')">{{rival.publicGists}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="contestant.followers" max="max(contestants, 'followers')" type="{{atMax(contestant, 'followers')}}">{{contestant.followers}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(contestant, 'followers')">{{contestant.followers}}</span>
      </div>
      <div class="col-md-4 col-xs-8 text-center">Number of Followers (2 points)</div>
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="rival.followers" max="max(contestants, 'followers')" type="{{atMax(rival, 'followers')}}">{{rival.followers}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(rival, 'followers')">{{rival.followers}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="contestant.following" max="max(contestants, 'following')" type="{{atMax(contestant, 'following')}}">{{contestant.following}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(contestant, 'following')">{{contestant.following}}</span>
      </div>
      <div class="col-md-4 col-xs-8 text-center">Number of people followed (1 points)</div>
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="rival.following" max="max(contestants, 'following')" type="{{atMax(rival, 'following')}}">{{rival.following}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(rival, 'following')">{{rival.following}}</span>
      </div>
    </div>
    <div class="row total-score">
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="contestant.score" max="max(contestants, 'score')" type="{{atMax(contestant, 'score')}}">{{contestant.score}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(contestant, 'score')">{{contestant.score}}</span>
      </div>
      <div class="col-md-4 col-xs-8 text-center">Total Score</div>
      <div class="col-md-4 col-xs-2">
        <progressbar class="progress-striped active hidden-xs" value="rival.score" max="max(contestants, 'score')" type="{{atMax(rival, 'score')}}">{{rival.score}}</progressbar>
        <span class="score visible-xs-inline" ng-class="atMax(rival, 'score')">{{rival.score}}</span>
      </div>
    </div>
    <div class="row">
      <div class="winner well well-lg col-md-6 col-md-offset-3 text-center">
        <i class="winner-badge glyphicon glyphicon-king"></i><br>
        <span class="winner-name">{{winner(contestants).username}}</span> wins the contest !
        <p>
          <a ng-href="mailto:?subject=My%20match%20on%20Github%20Contest&body=Hey%2C%20take%20a%20look%20at%20my%20match%20on%20Github%20Contest%20!%0A{{share.url}}"><i class="glyphicon glyphicon-envelope"></i>Send an email</a><br>
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet</a>
          <span class="fb-share-button" data-layout="button"></span>
        </p>
      </div>
    </div>
  </div>
</div>
